h1{
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    text-shadow:3px 3px rgb(217, 247, 237);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(21, 108, 123);
}
h2{
    color: rgb(74, 93, 128);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
div{
    margin-bottom: 30px;
}
.belong{
    font-style: italic;
    color: rgb(250, 255, 152);
}
body{
    background-image: url('https://purplemelonmu.files.wordpress.com/2021/07/speeding-up-final.jpg');
    background-size: cover;
    text-align: center;
    margin-bottom: 50px;
}
p{
    color: rgb(255, 255, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 18px;
}
